@media only screen and (max-width: 1000px) {
	#main_menu {
		display: none;
	}

	.left {
		float: left;
		margin-left: 1%;
	}

	.right {
		float: right;
		margin-right: 1%;
	}

	.click {
		font-size: 45px;
		padding: 0.75em;
		/*float: right;*/
		z-index: 2;
	}

	/* The side navigation menu */
	.sidenav {
	    height: 100vh; /* 100% Full-height */
	    width: 0; /* 0 width - change this with JavaScript */
	    position: fixed; /* Stay in place */
	    z-index: 3; /* Stay on top */
	    top: 0; /* Stay at the top */
	    right: 0;
	    background-color: #444; /* Black*/
	    overflow-x: hidden; /* Disable horizontal scroll */
	    padding-top: 60px; /* Place content 60px from the top */
	    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	}

	/* The navigation menu links */
	.sidenav a {
	    /*padding: 8px 8px 8px 32px;*/
	    text-decoration: none;
	    font-size: 20px;
	    color: #aaa;
	    display: block;
	    transition: 0.3s;
	}

	.sidenav h3 {
		margin: 0.25em;
	}

	/* When you mouse over the navigation links, change their color */
	.sidenav a:hover {
	    color: #fff;
	}

	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
	    transition: margin-left .5s;
	    padding: 20px;
	}

	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
	    .sidenav {padding-top: 15px;}
	    .sidenav a {font-size: 18px;}
	}

	.slider {
		width: 45em;
		margin: auto;
		margin-top: 3em;
	}

	.slider-wrapper {
		width: 45em;
		height: 30em;
		position: relative;
	}

	.cont {
		padding-top: 7em;
	}

	.flexible {
		display: block;
	}

	.contact, .con_add {
		width: 75%;
		margin: auto;
	}

	h3 {
		font-size: 40px;
	}

	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 50px;
		margin: 0.25em 0em;
	}

	h4 {
		font-size: 35px;
	}

	p {
		font-size: 38px;
	}

	.pic {
		border-radius: 50%;
		width: 20em;
		height: 20em;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	#shop_logo {
		width: 10em;
	}

	.icon {
		width: 3em;
		transition: filter .3s;
	}

/*--------------------------*/

	#mobile {
		display: block;
	}

	/* Style the tab */
	.tab {
	    overflow: hidden;
	    /*border: 1px solid #ccc;*/
	    background-color: #fff;
	}

	/* Style the buttons that are used to open the tab content */
	.tab button {
	    background-color: inherit;
	    float: right;
	    border: none;
	    outline: none;
	    cursor: pointer;
	    padding: 10px 25px;
	    transition: 0.3s;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
	    background-color: #ddd;
	}

	/* Create an active/current tablink class */
	.tab button.active {
	    background-color: #ccc;
	}

	/* Style the tab content */
	.tabcontent {
	    display: none;
	    padding: 6px 12px;
	    border-top: none;
	}

	.pic_dri {
    	width: 32.5%;
    	margin: 1.5em;
	}

	.pic_bak {
    	width: 65%;
    	margin: 1.5em;
	}

	.text {
		font-size: 33px;
	}

	.text-b {
		font-size: 45px;
	}

	.pb {
	    background-color: white;
	    border: 0.1px solid #000000;
	    padding: 44px;
	    width: 180px;
	    margin-left: -25px;
	}

	.container {
		margin-top: 4em;
	}

	.list_menu {
		font-size: 28px;
	}
}