h3 {
	transition: all .5s;
}

body {
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.logo {
	height: 6.5em;
}

nav {
	position: fixed;
	top: 0;
	z-index: 1;
	border-bottom: 2px solid black;
	width: 100vw;
	text-align: center;
	background-color: white;
}

.moment {
	color: #C70039;
}

.cont {
	max-width: 45em;
	/*background-color: black;*/
	height: 100%;
	margin: auto;
	/*padding-top: 6.5em;*/
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
}

.map {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 50px;
}

h2, h4 {
	margin: 0.25em 0em;
}


.icon_area {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-bottom: 2em;
}

.icon:hover {
	filter: invert(100%);
}

.slider {
	width: 45em;
	margin: 3em auto;
}

.slider-wrapper {
	width: 45em;
	height: 30em;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

.menu_name {
	text-align: left;
}

#mobile, #desktop {
	display: none;
}

button {
	font-family: 'Athiti', sans-serif;
	font-size: 22px;
}

.list_menu {
	font-size: 20px;
	margin-bottom: 1.5em;
}

td {
	padding: 0.25em;
}

.dri_area, .bak_area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-----------------*/

.pic_dri {
	position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.5em;
}

.pic_bak {
	position: relative;
    border-radius: 15%;
    overflow: hidden;
    margin: 0.5em;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s;
	background-color: #9F3500;
}

.pic_dri:hover .overlay, .pic_bak:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    background-color: #E0E0E0;
    transition: 0.3s;
    width: 40%;
    margin: auto;
    border: 3px
    padding: 10px;
}

.pb {
    background-color: white;
    border: 0.1px solid #000000;
    padding: 44px;
    width: 180px;
    margin-left: -25px;
}

/* Add some padding inside the card container */
.redeem {
    padding: 70px 85px;
    width: 40%;
}

form{
    font-size: 25px;
}
input{
    width: 200px;
    padding: 6px;
}
.login {
    padding: 70px 85px;
    width: 40%;

}