h3 {
	transition: all .5s;
}

body {
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.logo {
	height: 7em;
}

nav {
	position: fixed;
	top: 0;
	z-index: 1;
	border-bottom: 2px solid black;
	width: 100vw;
	text-align: center;
	background-color: white;
}

.moment {
	color: #C70039;
}

.cont {
	max-width: 60em;
	/*background-color: black;*/
	height: 100%;
	margin: auto;
	/*padding-top: 6.5em;*/
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 2em;
}

.map {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 50px;
}

h2, h4 {
	margin: 0.25em 0em;
}


.icon_area {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-bottom: 2em;
}

.icon:hover {
	filter: invert(100%);
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

.menu_name {
	text-align: left;
}

#mobile, #desktop {
	display: none;
}

button {
	font-family: 'Athiti', sans-serif;
	font-size: 22px;
}

.list_menu {
	margin-bottom: 1.5em;
}

td {
	padding: 0.25em;
}

.dri_area, .bak_area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-----------------*/

.pic_dri {
	position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.5em;
}

.pic_bak {
	position: relative;
    border-radius: 15%;
    overflow: hidden;
    margin: 0.5em;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s;
	background-color: #9F3500;
}

.pic_dri:hover .overlay, .pic_bak:hover .overlay {
	opacity: 1;
}

.text, .text-b {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    background-color: #EAEDED;
    transition: 0.3s;
    width: 80%;
    margin: auto;
}

.pb {
    background-color: white;
    border: 0.1px solid #000000;
    padding: 44px;
    width: 180px;
    margin-left: -25px;
}

/* Add some padding inside the card container */
.redeem {
	margin: auto;
    padding: 4em 5.5em;
    width: 70%;
}

form{
    font-size: 25px;
}
input{
    width: 10.5em;
    padding: 9px;
    font-family: 'Athiti', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 0;
}
.login {
    padding: 70px 85px;
    width: 40%;
}

.input {
	background: #5D6D7E;
    border-radius: 2em;
    padding: 0.25em;
    width: 5em;
    color: white;
    border-color: #5D6D7E;
    cursor: default;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    font-weight: bold;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #FDEBD0; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: 0.7;
    transition: all .5s;
}

#myBtn:hover {
    background-color: #333; /* Add a dark-grey background on hover */
    color: white;
}
